.myprofil{
    display: flex;
    justify-content: space-around;
    flex-direction:row-reverse;
    margin-top: 50px;
    margin-bottom: 50px;
}
.aboutme{
    
    border: 5px solid rgba(0, 0, 0, 0.473);
    border-radius:50px;
    padding: 5px;
    padding-top: 45px;
   
}
.contenu{
    margin-bottom: 30px;  
}